<div>
    <ul>
      <li *ngFor="let project of projects; let i = index">
        
        <mat-card>
            <mat-card-header>
                <mat-card-title><h2>{{ project.description }}</h2></mat-card-title>
                <button (click)="removeProject(project.projectId)">Remove Project</button>
            </mat-card-header>
        </mat-card>
        <mat-card-content>
            <mat-card-subtitle>To do</mat-card-subtitle>
            <!--ng-container *ngIf="incompletetos | async; let toDos"-->
            <div>
                <ul>
                  <li *ngFor="let task of tasks[project.projectId]; let j = index">
                    {{ task.description }}
                    <button (click)="removeTask(project.projectId, task.taskId)">Remove Task</button>
                  </li>
                </ul>
            </div>
            <!--/ng-container-->
        </mat-card-content>
        <mat-card-footer>
            <input type="text" [(ngModel)]="newTask" placeholder="Add a task" (keyup.enter)="addTask(project.projectId)">
            <button (click)="addTask(project.projectId)">Add Task</button>
        </mat-card-footer>
      </li>
      <li>
        <app-project></app-project>
      </li>
    </ul>
  </div>
  